.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 12px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  white-space: nowrap;
  transition: all 0.2s ease;
}

.badge-clickable {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.badge-clickable:hover {
  opacity: 0.8;
}

/* Colored badges for cards */
.badge-event {
  background-color: #edebfe;
  border-color: #ac94fa;
  color: #5521b5;
}

.badge-news {
  background-color: #fde8e8;
  border-color: #f98080;
  color: #9b1c1c;
}

.badge-discussion {
  background-color: #def7ec;
  border-color: #31c48d;
  color: #03543f;
}

.badge-alert {
  background-color: #ffebb0;
  border-color: #fecb33;
  color: #8c6900;
}

.badge-default {
  background-color: #b2bcc2;
  border-color: #395362;
  color: #08283b;
}

/* Filter badge styles */
.badge-filter-active {
  background-color: #b2bcc2;
  border-color: #395362;
  color: #08283b;
}

.badge-filter-inactive {
  background-color: #fdfdfd;
  border-color: #395362;
  color: #08283b;
}
